.overlay-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.2);

    &.mobile{
        align-items: flex-end;
    }

    .overlay-box{
        background-color: white;
        opacity: 1;
        border-radius: 5px;
        height: fit-content;
        width: 40%;

        &.mobile{
            width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            animation: overlayAnimate 0.3s linear alternate;
        }

        @keyframes overlayAnimate {
            0%{
                transform: translateY(100%);
            }
            100%{
                transform: translateY(0);
            }
        }

        .header{
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(193, 193, 193);

            .title{
                font-weight: bold;
                font-size: large;
            }

            .close-btn-container{

                .close-icon{
                    cursor: pointer;
                    height: 20px;
                    padding: 2px;
                }
                
                :hover{
                    background-color: rgb(162, 162, 162);
                    border-radius: 100%;
                }
            }
        }

        .children{
            padding: 20px;
        }
    }
}