@import "../../index.scss";
.Preview {
  padding-left: 20px;
  padding-right: 20px;
  width: $box-width;
  margin: auto;

  .Complaint {
    display: flex;
    padding: 10px 16px;
    margin: 20px 0;
    background-color: rgb(253, 249, 248);
    font-size: 12px;
    border-radius: $box-radius;

    .Complaint-Img {
      padding: 20px;
      width: 20%;
      
      .Image {
        border: 2px rgb(77, 77, 76);
        width: 100%;
        border-radius: $box-radius;
        object-fit: contain;
      }
    }

    .Complaint-Text {
      padding: 20px;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .complaint-header{
        .title{
          font-weight: bold;
          font-size: 20px;
        }
  
        .desc{
          font-size: 14px;
          padding: 10px 0;
        }
      }

      .complaint-footer{
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .time, .status{
          font-size: 16px;
        }

        .button{
          padding: 5px 10px;
          margin: 5px;
          background-color: rgb(221, 172, 166);
          color: white;
          border-radius: 5px;
          cursor: pointer;
          font-weight: bold;
          font-size: 14px;
          text-align: center;
        }

      }
    }
  }
  
  .assign-overlay{
    width: 100%;

    .roll-input{
      outline: none;
      border: 1px grey solid;
      padding: 10px;
      border-radius: 5px;
      width: 80%;
    }
  }

  .action-overlay{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;

    .proof{
      display: flex;
      
      .proofOfAction{
        width: 70%;
        margin: 5px 0;
      }
    }

    .select{
      width: fit-content;
      margin: 10px 0;
    }
  }

  .btns{
    display: flex;

    .assign-btn{
      padding: 7px 12px;
      background-color: rgb(218, 116, 116);
      color: white;
      font-weight: bold;
      margin: 10px 10px;
      width: fit-content;
      cursor: pointer;
    }

    .cancel-btn{
      color: red;
      border: 1px red solid;
      padding: 7px 12px;
      margin: 10px 0;
      font-weight: bold;
      cursor: pointer;
      width: fit-content;
    }
  }
}
