@import "../../index.scss";

.Login-Page {
  height: $page-hieght;
  width: $page-width;
  display: $page-display;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: column;
  h2 {
    font-size: $heading-size;
    color: $form-color;
    margin-bottom: $bottom-margin;
    padding-bottom: $bottom-padding;
  }
}
