@import "../../index.scss";

.nav-wrapper{
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;

  .Nav {
    display: flex;
    justify-content: space-between;
    width: $box-width;
    margin: auto;
    margin-top: 15px;
    border-radius: $box-radius;
    background-color: rgb(221, 172, 166);
  
    .filters{
      display: flex;
      align-items: center;
    }
  
    button {
      display: flex;
      align-items: center;
      padding: 10px;
      font-size: 14px;
      color: white;
      border: transparent;
      border-radius: $box-radius;
      cursor: pointer;
      margin: 10px;
      background-color: rgb(218, 116, 116);
    }
    button:hover {
      opacity: 0.8;
    }
    .img {
      border-radius: 15px;
      height: 30px;
      margin-right: 5px;
    }
    .filters_sort {
      font-size: 13px;
      margin: 10px;
      position: relative;
      display: inline-flex;
      align-items: center;
      color: white;
      font-weight: bold;
      font-size: 14px;
  
      .dropdown {
        padding: 6px;
        border: transparent;
        margin: 10px;
        border-radius: 5px;
        background-color: #ffffff;

        .dropdown-item{
          padding: 5px;
        }
      }
  
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
  
        .dropdown-elements{
          padding: 10px;
          margin: 10px;
        }
      }
    }
  }
}

.dropbtn:hover {
  .dropdown-content {
    display: block;
  }
}